In [13]:
import requests
import json
import pandas as pd
import numpy as np
from config import govt

In [7]:
# url = "https://api.usa.gov/crime/fbi/ucr/"
# api_key = f"&api_key={govt}"
# query = "agencies/count/states/offenses/CA/counties/06059?"

In [8]:
# data = requests.get(f"{url}{query}&api_key={govt}").json()

In [9]:
# data

{'pagination': {'count': 0, 'page': 0, 'pages': 0, 'per_page': 10},
 'results': []}

In [10]:
# data = requests.get("https://api.usa.gov/crime/fbi/ucr/agencies/count/states/offenses/CA/counties/06059?page=1&per_page=10&output=json&api_key=" + govt)

In [12]:
# data.json()

{'pagination': {'count': 0, 'page': 0, 'pages': 0, 'per_page': 10},
 'results': []}

#### The FBI API doesn't appear to have county data for california in it yet, so lets use data downloaded from the FBI website https://ucr.fbi.gov/crime-in-the-u.s
I tried here too https://crime-data-explorer.fr.cloud.gov/api#!/counties/get_agencies_count_states_offenses_state_abbr_counties_fips_code let me know if any of you can get it working!

In [30]:
county_file_name = "Raw_Data/Crime/Table_8_Offenses_Known_to_Law_Enforcement_California_by_Metropolitan_and_Nonmetropolitan_Counties_2016.xls"
county_excel = pd.read_excel(county_file_name)
city_file_name = "Raw_Data/Crime/Table_6_Offenses_Known_to_Law_Enforcement_California_by_City_2016.xls"
city_excel = pd.read_excel(city_file_name)
college_file_name = "Raw_Data/Crime/Table_7_Offenses_Known_to_Law_Enforcement_California_by_University_and_College_2016.xls"
college_excel = pd.read_excel(college_file_name)

In [28]:
county_excel

,Table 8,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,CALIFORNIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Offenses Known to Law Enforcement,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"by Metropolitan and Nonmetropolitan Counties, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,[The data shown in this table do not reflect c...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Metropolitan/ Nonmetropolitan,County,Violent\ncrime,Murder and\nnonnegligent\nmanslaughter,Rape\n(revised\ndefinition)1,Rape\n(legacy\ndefinition)2,Robbery,Aggravated\nassault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson
5,Metropolitan Counties,Alameda,589,8,30,NaN,204,347,2195,490,1104,601,20
6,NaN,Butte,183,3,34,NaN,28,118,1344,656,666,22,0
7,NaN,Contra Costa,347,9,25,NaN,108,205,1485,505,957,23,20
8,NaN,El Dorado,291,1,53,NaN,37,200,2085,512,1534,39,5
9,NaN,Fresno,1177,12,29,NaN,82,1054,3798,1625,1468,705,170
10,NaN,Imperial,161,2,8,NaN,12,139,453,129,298,26,9
11,NaN,Kern,2403,44,177,NaN,443,1739,10440,3161,5109,2170,281
12,NaN,Kings,157,4,16,NaN,16,121,426,164,236,26,4
13,NaN,Los Angeles,6124,94,307,NaN,1474,4249,17498,3816,9328,4354,227
14,NaN,Madera,434,4,28,NaN,19,383,1102,517,568,17,2
15,NaN,Marin,72,3,4,NaN,19,46,730,172,554,4,1
16,NaN,Merced,542,2,18,NaN,33,489,1541,601,886,54,8
17,NaN,Monterey,286,11,18,NaN,54,203,1377,303,1041,33,11
18,NaN,Napa,61,0,7,NaN,8,46,270,93,175,2,0
19,NaN,Orange,229,0,20,NaN,30,179,1123,213,765,145,11
20,NaN,Placer,261,1,33,NaN,34,193,1539,471,1040,28,8
21,NaN,Riverside,841,28,56,NaN,177,580,7651,1695,4630,1326,22
22,NaN,Sacramento,2797,42,155,NaN,880,1720,10142,3062,6943,137,68
23,NaN,San Benito,39,1,6,NaN,4,28,126,64,52,10,1
24,NaN,San Bernardino,924,12,88,NaN,151,673,5235,1525,2513,1197,54
25,NaN,San Diego,1422,29,115,NaN,206,1072,4617,1131,2656,830,26
26,NaN,San Joaquin,793,7,26,NaN,174,586,3072,826,2106,140,19
27,NaN,San Luis Obispo,356,0,21,NaN,16,319,1384,441,920,23,10
28,NaN,San Mateo,298,1,57,NaN,64,176,2843,454,2089,300,9
29,NaN,Santa Barbara,265,4,49,NaN,32,180,1639,476,1146,17,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
35,NaN,Stanislaus,470,11,42,NaN,134,283,1821,726,1034,61,14
36,NaN,Sutter,88,1,7,NaN,6,74,618,235,329,54,2
37,NaN,Tulare3,350,19,28,NaN,62,241,2074,756,1318,0,1
38,NaN,Ventura,171,2,29,NaN,19,121,767,224,467,76,11
39,NaN,Yolo,56,0,8,NaN,7,41,248,69,158,21,4
40,NaN,Yuba,210,3,11,NaN,32,164,1086,335,744,7,18
41,Nonmetropolitan Counties,Alpine,6,0,0,NaN,0,6,34,7,26,1,0
42,NaN,Amador,53,0,6,NaN,8,39,371,142,225,4,3
43,NaN,Calaveras,169,3,26,NaN,16,124,535,183,341,11,0
44,NaN,Colusa,31,0,2,NaN,6,23,186,78,108,0,0
45,NaN,Del Norte,115,0,30,NaN,11,74,355,251,96,8,7
46,NaN,Glenn,34,1,0,NaN,1,32,159,60,96,3,1
47,NaN,Humboldt,265,9,22,NaN,57,177,773,366,385,22,4
48,NaN,Inyo,85,0,7,NaN,5,73,158,67,84,7,1
49,NaN,Lake,179,2,17,NaN,15,145,635,337,283,15,11
50,NaN,Lassen,43,1,4,NaN,2,36,202,87,114,1,0
51,NaN,Mariposa,80,0,12,NaN,1,67,217,53,161,3,0
52,NaN,Mendocino,346,7,42,NaN,19,278,477,246,228,3,5
53,NaN,Modoc,19,1,3,NaN,0,15,44,9,35,0,0
54,NaN,Mono,16,1,2,NaN,1,12,51,20,31,0,0
55,NaN,Nevada,80,5,4,NaN,5,66,697,285,395,17,3
56,NaN,Plumas,120,2,10,NaN,6,102,335,120,207,8,1
57,NaN,Sierra,14,0,0,NaN,0,14,26,8,18,0,1
58,NaN,Siskiyou,52,2,5,NaN,2,43,225,118,102,5,1
59,NaN,Tehama,163,3,6,NaN,12,142,371,235,130,6,2
60,NaN,Trinity,65,3,3,NaN,6,53,234,101,133,0,0
61,NaN,Tuolumne,159,1,45,NaN,9,104,737,350,377,10,6
62,1 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,2 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,3 The Tulare County Highway Patrol collects th...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
city_excel

,Table 6,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,CALIFORNIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Offenses Known to Law Enforcement,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"by City, 2016",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,City,Population,Violent\ncrime,Murder and\nnonnegligent\nmanslaughter,Rape\n(revised\ndefinition)1,Rape\n(legacy\ndefinition)2,Robbery,Aggravated\nassault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson
4,Adelanto,33479,276,1,28,NaN,48,199,560,241,218,101,15
5,Agoura Hills,21032,15,0,2,NaN,3,10,253,83,150,20,0
6,Alameda,79597,151,1,8,NaN,68,74,2020,226,1351,443,29
7,Albany,19975,29,0,0,NaN,24,5,533,62,426,45,3
8,Alhambra,86035,146,0,9,NaN,73,64,2107,422,1447,238,4
9,Aliso Viejo,50604,29,0,4,NaN,5,20,411,61,323,27,0
10,Alturas,2549,22,0,5,NaN,1,16,116,34,74,8,0
11,American Canyon,20746,68,0,7,NaN,15,46,409,58,295,56,2
12,Anaheim,353504,1209,7,123,NaN,390,689,9617,1469,6764,1384,33
13,Anderson,10273,92,2,8,NaN,6,76,452,51,315,86,7
14,Angels Camp,3755,9,0,2,NaN,0,7,37,8,23,6,0
15,Antioch,112090,760,9,55,NaN,293,403,3690,762,2012,916,56
16,Apple Valley,72757,314,4,26,NaN,74,210,1735,417,1064,254,17
17,Arcadia,58816,83,2,4,NaN,44,33,1642,520,1045,77,5
18,Arcata,17913,82,0,6,NaN,22,54,667,129,461,77,6
19,Arroyo Grande,18280,35,0,6,NaN,9,20,334,53,262,19,3
20,Artesia,17049,89,2,1,NaN,30,56,622,198,350,74,1
21,Arvin,21195,191,2,3,NaN,17,169,634,170,279,185,18
22,Atascadero,30108,83,1,11,NaN,7,64,501,109,345,47,6
23,Atherton,7218,3,0,1,NaN,1,1,104,14,84,6,0
24,Atwater,29437,203,1,8,NaN,27,167,1006,190,670,146,16
25,Auburn,14078,67,1,5,NaN,6,55,305,64,199,42,2
26,Avalon,3813,10,0,2,NaN,0,8,37,2,34,1,0
27,Avenal,12941,32,3,5,NaN,3,21,176,86,72,18,1
28,Azusa,50393,175,1,18,NaN,46,110,1139,261,695,183,6
29,Bakersfield,378788,1821,32,67,NaN,614,1108,17138,3887,10203,3048,332
...,...,...,...,...,...,...,...,...,...,...,...,...,...
437,Vista,102307,372,2,41,NaN,99,230,1615,351,989,275,8
438,Walnut,30447,25,2,2,NaN,7,14,516,285,200,31,3
439,Walnut Creek,69860,78,1,1,NaN,30,46,2120,275,1611,234,4
440,Waterford,8897,12,0,2,NaN,0,10,125,27,75,23,0
441,Watsonville,54110,238,0,26,NaN,46,166,1738,214,1018,506,8
442,Weed,2479,23,0,1,NaN,5,17,99,13,78,8,0
443,West Covina,108950,265,4,18,NaN,110,133,2811,519,1794,498,10
444,West Hollywood,36594,275,2,26,NaN,119,128,1601,241,1217,143,9
445,Westlake Village,8547,16,0,4,NaN,2,10,204,37,161,6,1
446,Westminster,92582,309,2,31,NaN,96,180,2720,529,1854,337,7
447,Westmorland,2275,2,0,0,NaN,0,2,9,4,3,2,0
448,West Sacramento,53532,233,0,17,NaN,95,121,1219,191,856,172,21
449,Wheatland,3775,12,0,0,NaN,0,12,48,13,28,7,1
450,Whittier,87860,258,2,21,NaN,97,138,2790,467,1933,390,7
451,Wildomar,36310,49,0,5,NaN,9,35,655,129,391,135,2
452,Williams,5208,6,0,2,NaN,0,4,61,17,40,4,0
453,Willits,4856,66,0,3,NaN,4,59,54,10,22,22,0
454,Willows,6053,42,0,2,NaN,5,35,222,32,170,20,7
455,Windsor,27594,84,0,14,NaN,7,63,311,49,246,16,1
456,Winters,7120,12,0,0,NaN,3,9,98,18,66,14,3
457,Woodlake,7727,25,0,2,NaN,3,20,99,23,67,9,3
458,Woodland,59190,218,3,14,NaN,54,147,1522,221,1037,264,17
459,Yorba Linda,68702,41,0,11,NaN,6,24,725,150,514,61,0
460,Yountville,3030,4,0,0,NaN,0,4,47,16,28,3,0
461,Yreka,7559,54,1,2,NaN,3,48,268,74,152,42,3
462,Yuba City,67198,272,8,24,NaN,76,164,2030,406,1389,235,7
463,Yucaipa,53697,113,0,11,NaN,20,82,1162,263,730,169,4
464,Yucca Valley,21774,85,1,2,NaN,15,67,417,131,229,57,1
465,1 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
466,2 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
college_excel

,Table 7,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,CALIFORNIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Offenses Known to Law Enforcement,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,,NaN,NaN,NaN,NaN
2,"by University and College, 2016",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,University/College,Campus,Student\nenrollment1,Violent\ncrime,Murder and\nnonnegligent\nmanslaughter,Rape\n(revised\ndefinition)2,Rape\n(legacy\ndefinition)3,Robbery,Aggravated\nassault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson
4,Allan Hancock College,NaN,10949,0,0,0,NaN,0,0,15,5,10,0,0
5,California State Polytechnic University:,Pomona,23717,7,0,4,NaN,2,1,175,20,142,13,0
6,NaN,San Luis Obispo,20944,12,0,10,NaN,1,1,136,10,125,1,1
7,California State University:,Bakersfield,9228,1,0,0,NaN,0,1,59,4,53,2,0
8,NaN,Channel Islands,6167,5,0,5,NaN,0,0,72,6,64,2,0
9,NaN,Chico,17220,8,0,6,NaN,1,1,256,12,233,11,0
10,NaN,Dominguez Hills,14635,4,0,0,NaN,1,3,45,6,34,5,0
11,NaN,East Bay,15528,3,0,2,NaN,1,0,75,11,62,2,0
12,NaN,Fresno,24136,15,0,5,NaN,5,5,337,62,245,30,1
13,NaN,Fullerton,38948,4,0,0,NaN,1,3,213,28,177,8,0
14,NaN,Long Beach,37446,9,0,3,NaN,2,4,193,8,165,20,1
15,NaN,Los Angeles,27680,8,0,4,NaN,0,4,145,9,124,12,0
16,NaN,Monterey Bay,7102,4,0,2,NaN,1,1,48,3,45,0,1
17,NaN,Northridge,41548,21,0,10,NaN,7,4,258,17,225,16,0
18,NaN,Sacramento,30284,4,0,1,NaN,2,1,198,10,181,7,0
19,NaN,San Bernardino,20024,10,0,4,NaN,3,3,99,5,69,25,2
20,NaN,San Jose,32773,30,0,6,NaN,4,20,424,34,356,34,6
21,NaN,San Marcos,12793,4,0,2,NaN,1,1,49,5,44,0,0
22,NaN,Stanislaus,9282,1,0,0,NaN,0,1,72,3,65,4,0
23,College of the Sequoias,NaN,11266,2,0,0,NaN,1,1,77,14,57,6,0
24,Contra Costa Community College,NaN,34910,7,0,0,NaN,5,2,230,20,181,29,1
25,Cuesta College,NaN,9600,0,0,0,NaN,0,0,11,0,10,1,0
26,El Camino College,NaN,24001,3,0,0,NaN,3,0,103,11,84,8,1
27,Foothill-De Anza College,NaN,37960,1,0,0,NaN,1,0,46,1,42,3,0
28,Humboldt State University,NaN,8790,6,0,4,NaN,2,0,112,5,107,0,2
29,Irvine Valley College,NaN,13183,0,0,0,NaN,0,0,31,5,26,0,0
30,Marin Community College,NaN,5490,1,0,0,NaN,0,1,17,2,15,0,0
31,Mt. San Jacinto College,NaN,15010,2,0,1,NaN,0,1,33,12,17,4,0
32,Pasadena Community College,NaN,27050,4,0,0,NaN,1,3,83,1,81,1,1
33,Riverside Community College,NaN,37594,0,0,0,NaN,0,0,88,7,69,12,0
34,San Bernardino Community College,NaN,19121,4,0,0,NaN,3,1,86,23,55,8,1
35,San Diego State University,NaN,34254,19,0,8,NaN,9,2,593,65,515,13,3
36,San Francisco State University,NaN,30256,9,0,4,NaN,4,1,260,33,212,15,0
37,San Jose/Evergreen Community College,NaN,17136,1,0,0,NaN,0,1,39,0,36,3,0
38,Santa Rosa Junior College,NaN,22411,5,0,0,NaN,0,5,51,2,49,0,0
39,Sonoma State University,NaN,9408,5,0,4,NaN,0,1,91,5,74,12,0
40,State Center Community College District,NaN,32533,6,0,0,NaN,3,3,139,18,113,8,0
41,University of California:,Berkeley,38189,44,0,16,NaN,13,15,699,41,621,37,5
42,NaN,Davis,35186,12,0,7,NaN,1,4,555,29,517,9,0
43,NaN,Hastings College of Law,950,8,0,0,NaN,5,3,27,1,26,0,0
44,NaN,Irvine,30836,21,0,12,NaN,2,7,442,39,391,12,6
45,NaN,Los Angeles,41908,84,0,26,NaN,8,50,768,127,612,29,1
46,NaN,"Medical Center, Sacramento4",NaN,13,0,1,NaN,1,11,145,3,135,7,1
47,NaN,Merced,6685,1,0,0,NaN,0,1,52,7,45,0,0
48,NaN,Riverside,21385,8,0,2,NaN,4,2,289,23,249,17,1
49,NaN,San Diego,32906,13,0,4,NaN,4,5,418,26,378,14,5
50,NaN,San Francisco,3107,12,1,0,NaN,3,8,464,72,382,10,1
51,NaN,Santa Barbara,23497,48,0,22,NaN,2,24,288,27,259,2,1
52,NaN,Santa Cruz,17868,12,0,5,NaN,1,6,344,48,282,14,0
53,Ventura County Community College District,NaN,34022,3,0,0,NaN,0,3,77,16,61,0,1
54,West Valley-Mission College,NaN,17375,3,0,1,NaN,0,2,39,9,27,3,0
55,1 The student enrollment figures provided by t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,2 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,3 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,4 Student enrollment figures were not available.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,NOTE: Caution should be exercised in making a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN